body{
    background-image: url('../image/dragon-ball-super-goku-hd_1541973580.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main{
    width: 100%;
    height: 100vh;
}
.overlay {
    width : 100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: rgba(0,0,0, 0.5);
}
.title{
    margin-top: 10px;
    color:rgb(8, 0, 255);
    text-align:center;
    font-size:2.5rem;
}

.col {
    margin-top: 20px;
    width:90%;
    display:flex;
    justify-content: center;
    color:pink;
}
.col div{
    width:250px;
    text-align:center;
}
input {
    width:50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color:transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size:30px;
}